Options +FollowSymLinks
RewriteEngine On

RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} !-f
RewriteRule (image|file)s/(static|dynamic)-(.*) ../../../../index.php?%{QUERY_STRING}&section=media/link_$1_$2&path=$3 [L,QSA]